@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Helvetica Compressed';
    src: url('/fonts/HelveticaCompressed.woff2') format('woff2'); /* Sesuaikan path file font kamu */
    font-weight: normal;
    font-style: normal;
}

@layer utilities {
    .font-display {
        font-family: 'Helvetica Compressed', 'Arial Narrow', sans-serif;
    }
    .font-sans {
        font-family: 'Helvetica', 'Arial', sans-serif;
    }
}

@keyframes floatRight {
    0%, 100% {
        transform: rotate(3deg) translateY(0px);
    }
    50% {
        transform: rotate(3deg) translateY(-12px);
    }
}

/* ANIMASI MELAYANG KALAU MIRING KIRI (#2) */
@keyframes floatLeft {
    0%, 100% {
        transform: rotate(-3deg) translateY(0px);
    }
    50% {
        transform: rotate(-3deg) translateY(-12px);
    }
}

.animate-float-right {
    animation: floatRight 3.5s ease-in-out infinite;
}

.animate-float-left {
    animation: floatLeft 3.5s ease-in-out infinite;
}

.animate-bounce-slow {
    animation: floatUpDown 3.5s ease-in-out infinite;
}